/* ===GLOBAL SETTINGS ===*/
* {
	margin: 0;
}

html {
	background-image: url(../images/grainbackground.png);
}

body {
	font-family: "Six Caps", Trebuchet, Verdana, Tahoma, Lucida Sans, Arial, sans-serif;
	font-size: 18px;
	letter-spacing: -2px;
	line-height: 15px;
	text-align: left;
	color: #000000;
	border-top: 5px solid #0f0f0e;
}

html, body {
	height: 100%;
}

.banner {
	height: auto;
	padding-right: 200px;
	padding-left: 200px;
}

.main {
	padding-right: 300px;
	padding-left: 300px;
}

.container {
	min-height: 100%;
	position: relative;
	background-image: url(../images/background.png);
	background-repeat: no-repeat;
	background-position: bottom;
}

.footer{
	background-color: #0f0f0e;
	color: #ffffff;
	position: relative;
	min-height: 150px;
}

.clearfooter {
	height: 150px;
	clear: both;
}

/* === TOP NAVIGATION MENU === */

/* General Menu Styling */
.nav {
	position: relative;
	width: 100%;
	border-bottom: 1px solid #0f0f0e;
	text-align: right;
}

.nav ul {
	list-style: none;
	position: relative;
	display: inline-table;
	text-align: left;
	margin: 0;
	padding: 0;
}

/* Main Menu */
.nav ul li {
	display: inline-block;
	position: relative;
	color: #0f0f0e;
}

.nav ul li a {
	display: block;
	margin: 0px;
	padding: 2px 20px;
	color: #0f0f0e;
	text-decoration: none;
}

.home, .comm, .factions, .admin, .user {
	border-right: 1px solid #0f0f0e;
}

/* Main Menu Hover */
.nav ul li a:hover, .nav ul li:hover {
	color: #cfcece;
	background: #0f0f0e;
	text-decoration: none;
}

.nav ul li:hover > a {
	color: #cfcece;
}

/* Sub Menu */
.nav ul li ul {
	padding: 0;
	position: absolute;
	left: 0;
	width: auto;
	display: none;
}

.nav ul li ul a {
	color: #cfcece;
}

/* Sub Menu Items */
.nav ul li ul li {
	background: #0f0f0e;
	display: block;
	color: #cfcece;
}

/* Sub Menu Items Hover */
.nav ul li ul a:hover {
	background: #323338;
	color: #cfcece;
	display: block;
}

.nav ul li:hover > ul {
	display: block;
}

/* === CONTENT === */
.menu {
	position: relative;
	z-index: 2;
}

.logo {
	position: relative;
	top: 37px;
}

.videowrap {
	width: 80%;
	max-width: 560px;
	margin: 0 auto;
	padding-top: 100px;
	float: right;
	padding-right: 300px;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height:0;
}

.video-container iframe, .video-container object, .video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
}

.countdown {
	color: #cd7f0a;
	font-family: "Six Caps", Trebuchet, Verdana, Tahoma, Lucida Sans, Arial, sans-serif;
	font-size: 18px;
	letter-spacing: -2px;
	line-height: 15px;
	text-align: left;

}